body 
      {
        font-family:sans-serif; 
        background: -webkit-linear-gradient(to right, #155799, #159957);  
        background: linear-gradient(to right, #155799, #159957); 
        color:whitesmoke;
      
      }
input[type=text], input[type=password]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

  h1{
    text-align: center;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
    padding-bottom: 35px;
}
button {
    background-color:black;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 10%;
    font-size: 18px;
    text-align: center;
    align-self: auto;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
 .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .Buy Again {
    background-color: white; 
    color: black; 
    /* border: 2px solid #4CAF50; */
  }
  
  .Buy Agian:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .Logout {
    background-color: white; 
    color: black; 
    /* border: 2px solid #008CBA; */
    margin-left: 1125px;
  }
  
  .Logout:hover {
    background-color: #008CBA;
    color: white;
  }