<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginStyle.css">

    <title>DPhone - Log in or sign up</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Dphone Sign Up </h1>
    <form th:action="@{/process_register}" th:object="${user}">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Sign up</h3>
            <!-- <p>Sign in with your username and password</p> -->
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- FirstName -->
            <label for="firstname">First Name</label>
            <input type="text" placeholder="Enter First Name" name="firstname" th:field="*{firstName}"
                            required minlength="2" maxlength="20"/>

            <br><br>

            <!-- LastName -->
            <label for="lastname">Last Name</label>
            <input type="text" placeholder="Enter Last Name" name="lastname" th:field="*{lastName}"
                            required minlength="2" maxlength="20" />

            <br><br>

           <!-- Email -->
           <label for="email">Email</label>
           <input type="email" placeholder="Enter Email" th:field="*{email}" name="email" required>

           <br><br> 

           
            <!-- Password -->
            <label for="pswrd">Password</label>
            <input type="password" th:field="*{password}" placeholder="Enter Password" name="pswrd" required minlength="6" maxlength="10"/>

            <br><br>

            <!-- Submit button -->
            <button type="submit">Create Account</button>
        </div>

    </form>
</body>
</html>